@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #4648BC;
  --back-ground-white: #FEFEFE;
  --black: #0F0F0F;
  --orange-color: #FFA45A;
  --second-white: #F1F1F1;
  --new-gray: #F9F8F4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 , h2 , h3 , h4 , h5 , h6 , span , p{
  color: var(--black);
}

body {
  color: var;
  background: var(--back-ground-white);
  direction:rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
