@tailwind base;
@tailwind components;
@tailwind utilities;
/*fonts*/
@import url("https://v1.fontapi.ir/css/Yekan");

html {
  direction: rtl;
}

:root {
  --primary-black-color: #0f0f0f;
  --primary-blue-color:#4648BC;
  --orange-color: #ffa45a;
  --second-white-color:#F9F8F4;
}
