.loginbox {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 632px;
    background: #FFFF;
    border-radius: 80px;
    padding: 59px 64px ;
    gap: 24px;
    transform: scale(0.7); 
}