.loginbox {
    display: flex;
    flex-direction: column;
    max-width: 40.62rem;
    background: #FFFF;
    border-radius: 5rem;
    padding: 3.6rem 4rem ;
    gap: 1.5rem;
    transform: scale(0.7); 
}