.SignupBox{
    background-color: #ffff;
    border-radius: 5rem;
    max-width: 667px;
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    padding: 2.4rem 3.2rem;
    transform: scale(.7);
}